.about-company {
  font-family: "Futura PT";
  background-image: url("../img/about-company-img.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 628px;
  position: relative;
  z-index: 0;

  @media (max-width: 600px) {
    height: max-content;
  }

  &--delivery {
    height: 445px;
    background-image: url("../img/delivery-banner.jpg");
  }
}

.about-company__block-left {
  position: absolute;
  top: 30%;
  left: 0;
  width: 33%;
  height: 184px;
  background-color: #432534;
  z-index: 1;

  @media (max-width: 1600px) {
    width: 28%;
  }

  @media (max-width: 1280px) {
    top: 20px;
    width: 50%;
    height: 80px;
  }

  &--delivery {
    background-color: #183a37;
    height: 132px;
    top: 36%;

    @media (max-width: 1280px) {
      top: 0;
      height: 100px;

      & .about-company__title {
        right: -50px;
      }
    }

    @media (max-width: 600px) {
      height: 60px;

      & .about-company__title {
        top: -5px;
        right: -30px;
      }
    }
  }
}

.about-company__container {
  // position: relative;
  // z-index: 2;
  display: flex;
  align-items: center;
  // height: 100%;
}

.about-company__title {
  position: absolute;
  color: #EFD6AC;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  width: 222px;
  right: 5%;
  // z-index: 2;

  @media (max-width: 1600px) {
    right: 15%;
  }

  @media (max-width: 1280px) {
    width: 100%;
    right: -35px;
    top: -30px;
  }

  @media (max-width: 1023px) {
    font-size: 35px;
    line-height: 38px;
    top: -10px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 28px;
  }
}

.about-company__block {
  background-color: #183a37;
  padding: 55px 36px 55px 70px;
  width: 863px;
  height: 318px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 100px;

  @media (max-width: 1023px) {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
  }

  @media (max-width: 600px) {
    padding: 10px;
    margin-top: 40%;
    height: 100%;
  }

  & p {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 1023px) {
      font-size: 18px;
      line-height: 20px;
    }

  }

  &--delivery {
    background-color: #432534;
    height: 245px;
    padding-bottom: 5px;

    margin-top: 100px;

    @media (max-width: 600px) {
      height: fit-content;
    }
  }
}

.about-company__text-top {
  margin-top: 0;
}

.features__title--about {
  margin-top: 0;
}
