.contacts-links {
  margin-right: 2px;

  @media (max-width: 600px) {
    display: none;
  }

}

.contacts-link {
  position: relative;
  color: #04151F;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  margin-left: 37px;

  &::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: -28px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts-link--tel {

  &::before {
    background-image: url("../img/phone-call.svg");
  }
}

.contacts-link--mail {
  // margin-right: 18px;

  &::before {
    background-image: url("../img/e-mail.svg");
  }
}

.contacts-link--adress {
  margin-left: 40px;

  @media (max-width: 1280px) {
    margin-right: auto;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    display: none;
  }

  &::before {
    background-image: url("../img/adress.svg");
  }
}
