.copy-drawing {
  position: relative;
  background-color: #f6f6f6;
  background-image: url("../img/copy-drawing-img.jpg");
  background-position: right 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 578px;

  &::before {
    position: absolute;
    content: "";
    top: 102px;
    left: 3%;
    width: 255px;
    height: 375px;
    background-image: url("../img/group-point.svg");
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
}

.copy-drawing__block {
  margin-right: auto;
  margin-left: 0;
  background-color: #183a37;
  width: 525px;
  height: 265px;
  padding-left: 35px;
}

.copy-drawing__text.drawing__text {
  width: 500px;
}
