.delivery {
  font-family: "Futura PT";
  margin-top: 100px;
  margin-bottom: 100px;
}

.delivery__title {
  color: #432534;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
}

.delivery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1000px) {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.delivery__item {
  width: 270px;
  height: 170px;
  background-color: #f6f6f6;
  margin-bottom: 30px;
  position: relative;

  @media (max-width: 1000px) {
    margin-right: auto;
    margin-right: auto;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--pony::before {
    background-image: url("../img/delivery1.svg");
  }

  &--dhl::before {
    background-image: url("../img/delivery2.svg");
  }

  &--lines::before {
    background-image: url("../img/delivery3.svg");
  }

  &--pek::before {
    background-image: url("../img/delivery4.svg");
  }

  &--express::before {
    background-image: url("../img/delivery5.svg");
  }

  &--dpd::before {
    background-image: url("../img/delivery6.svg");
  }

  &--cdek::before {
    background-image: url("../img/delivery7.svg");
  }

  &--ups::before {
    background-image: url("../img/delivery8.svg");
  }
}
