.drawing-section {
  font-family: "Futura PT";
  background-color: #432534;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 617px;

  @media (max-width: 1600px) {
    background-size: 50%;
  }

  @media (max-width: 600px) {
    padding-bottom: 20px;
  }

  &--copy {
  background-image: url("../img/services-img4.jpg");

    @media (max-width: 1280px) {
      background-image: none;
    }
  }

  &--print {
    background-image: url("../img/express-print-img.jpg");

    @media (max-width: 1280px) {
      background-image: none;
    }
  }

  &--scan {
    background-image: url("../img/scan-img-2.jpg");

    @media (max-width: 1280px) {
      background-image: none;
    }
  }

  &--folding {
    background-image: url("../img/folding-img-1.jpg");

    // @media (max-width: 1600px) {
    //   .drawing-section__title {
    //     // width: 450px;
    //   }
    // }

    @media (max-width: 1280px) {
      background-image: none;
    }
  }

  &--stitching {
    background-image: url("../img/stitching-img-1.jpg");

    @media (max-width: 1280px) {
      background-image: none;
    }
  }

  & p {
    width: 598px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 1600px) {
      width: 440px;
    }

    @media (max-width: 1280px) {
      width: 95%;
    }

    @media (max-width: 600px) {
      width: 95%;
    }
  }
}

.drawing-section__title {
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  color: #EFD6AC;

  @media (max-width: 600px) {
    font-size: 32px;
    line-height: 34px;
  }
}

.drawing-section__btn {
  display: flex;
  align-items: center;
  padding-left: 53px;
  width: 235px;
  height: 68px;
  border-radius: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #04151F;
  background-color: #EFD6AC;
  position: relative;
  margin-top: 45px;

  @media (max-width: 1600px) {
    margin-top: 25px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 32%;
    right: 40px;
    background-image: url("../img/checkout-img.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
