.features {
  font-family: "Futura PT";
  display: flex;
  min-height: 534px;
  position: relative;

  @media (min-width: 1300px) {
    margin-top: 170px;
  }


  &--bg::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 43%;
    height: 100%;
    background-image: url("../img/features-img.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1280px) {
      display: none;
    }
  }
}

.features__text-top {
  position: absolute;
  display: flex;
  // justify-content: center;
  align-items: center;
  top: -220px;
  right: 0;
  color: #fff;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  background-color: #183A37;
  width: 33%;
  height: 170px;
  text-align: center;
  padding-left: 3%;

  @media (max-width: 1280px) {
    display: none;
  }
}

.features__title {
  color: #f6f6f6;
  font-weight: 600;
  font-size: 110px;
  line-height: 80px;

  @media (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 600px) {
    font-size: 42px;
    line-height: 42px;
  }
}

.features__block-left {
  display: flex;
  flex-direction: column;

  @media (max-width: 1280px) {
    margin-left: 15vw;
    margin-right: auto;
  }

  @media (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 595px;

  @media (max-width: 1000px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
}

.features__item {
  max-width: 274px;
  margin-left: 20px;
  margin-bottom: 50px;

  &:nth-child(3) {
    max-width: 175px;
    margin-right: 100px;
  }
}

.features__item-number {
  color: #CB000D;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.features__item-text-top {
  color: #04151F;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 24px;
}

.features__text-bottom {
  color: #04151F;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
