.our-team {
  margin-top: 100px;
}

.our-team__sup-title {
  color: #CB000D;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 24px;
}

.our-team__title {
  color: #432534;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
}

.our-team__sub-title {
  color: #04151F;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  width: 987px;
  margin-bottom: 60px;
}

.our-team__list {
  display: flex;
  justify-content: space-between;
}

.our-team__name {
  color: #04151F;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
}

.our-team__position {
  color: #183A37;
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
}
