.our-production {
  font-family: "Futura PT";
  background-image: linear-gradient(90deg, #fff 0, #fff 65%, #EFD6AC 65%, #EFD6AC 100%);
  padding-top: 100px;
  margin-bottom: 100px;
  position: relative;

  @media (max-width: 600px) {
    margin-bottom: 40px;
    background-image: linear-gradient(90deg, #EFD6AC 0%, #EFD6AC 100%);
  }

  &::before {
    position: absolute;
    content: "";
    width: 386px;
    height: 82px;
    top: 100px;
    right: 7%;
    background-image: url("../img/tipograff-black.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1600px) {
      right: 5%;
    }

    @media (max-width: 1280px) {
      width: 230px;
      top: 80px;
    }

    @media (max-width: 1023px) {
      width: 200px;
      overflow-x: hidden;
    }

    @media (max-width: 600px) {
      top: 25px;
      right: 20%;
    }
  }
}

.our-production__title {
  color: #432534;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  margin-top: 0;

  @media (max-width: 1280px) {
    font-size: 40px;
    line-height: 42px;
    max-width: 60%;
  }

  @media (max-width: 600px) {
    font-size: 36px;
    line-height: 38px;
  }
}

.our-production__text {
  color: #04151F;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  width: 832px;
  margin-bottom: 50px;

  @media (max-width: 1600px) {
    width: 800px;
  }

  @media (max-width: 1280px) {
    width: 100%;
  }

  @media (max-width: 1023px) {
    width: 60%;
  }

  @media (max-width: 600px) {
    width: 95%;
  }
}

.our-production__slider .slick-arrow {
  background-image: url("../img/arrow-red.svg");

  &.slick-prev {
    left: -50px;

    @media (max-width: 1280px) {
      left: -33px;
    }

    @media (max-width: 1023px) {
      display: none!important;
    }
  }

}

.our-production__slider .slick-arrow.slick-next {
  right: -50px;

  @media (max-width: 1280px) {
    right: -33px;
  }

  @media (max-width: 1023px) {
      display: none!important;
    }
}

.our-production__slider .slick-slide img {
  max-width: 100%;
}

.our-poduction__block-bottom-right {
  background-color: #432534;
  width: 70%;
  margin-left: auto;
  margin-right: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: -4px;

  @media (max-width: 600px) {
    width: 100%;
    margin: 0 auto;
  }
}

.our-production__text-bottom {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding-left: 72px;
  width: 66%;

  @media (max-width: 600px) {
    padding-left: 20px;
    width: 90%;
    font-size: 18px;
    line-height: 20px;
  }
}

.our-poduction__block-bottom-left {
  position: absolute;
  bottom: 3%;
  left: 0;
  width: 32%;
  height: 160px;
  background-color: #EFD6AC;

  @media (max-width: 1280px) {
    width: 33%;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.our-poduction__block-bottom-left-text {
  position: absolute;
  top: 18px;
  right: 5%;
  color: #04151F;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
  width: 235px;

  @media (max-width: 1280px) {
    right: 7%;
  }
}
