.service-cost {
  font-family: "Futura PT";
  background-image: url("../img/price-page-img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 541px;
  position: relative;

  @media (max-width: 600px) {
    height: fit-content;
  }
}

.service-cost__block-left {
  position: absolute;
  top: 30%;
  background-color: #183A37;
  width: 35%;
  z-index: 3;

  @media (max-width: 1600px) {
    width: 30%;
  }

  @media (max-width: 1280px) {
    top: 0;
    width: 50%;
  }

  @media (max-width: 1023px) {
    height: 60px;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
}

.service-cost__title {
  color: #EFD6AC;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  // text-align: end;
  width: 240px;
  margin-left: auto;
  margin-right: 5%;

  @media (max-width: 1280px) {
    width: 50%;
    font-size: 32px;
    line-height: 34px;
  }

  @media (max-width: 1023px) {
    width: 80%;
    font-size: 32px;
    line-height: 34px;
    margin-top: 10px;
    margin-right: 2%;
  }

  @media (max-width: 600px) {
    width: 95%;
  }
}

.service-cost__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.service-cost__block-text {
  position: relative;
  background-color: #432534;
  padding-left: 71px;
  padding-right: 33px;
  width: 70%;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-left: auto;
  margin-right: 0;

  @media (max-width: 600px) {
    // overflow-y: scroll;
    padding-left: 13px;
    padding-right: 13px;
    margin: 0 auto;
    width: 95%;
  }
}

.service-cost__text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
