.main__privacy {
  font-family: "Futura PT";
  margin-top: 60px;
  margin-bottom: 100px;
}

.privacy__title {
  color: #432534;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
}

.privacy__text-top,
.privacy__text-bottom {
  color: #04151F;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}


