.types-service {
  font-family: "Futura PT";
  margin-top: 100px;
}

.types-service__title {
  color: #432534;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
}

.types-service__list-btn {
  display: flex;
  width: 100%;
}

.types-service__btn {
  border: 1px solid #EFD6AC;
  box-sizing: border-box;
  cursor: pointer;

  &-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #432534;
  }

  &--dop {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.types-service__btn--active {
  background-color: #EFD6AC;

}

.types-service__item table {
  margin-top: 60px;
  border-collapse: collapse;

  & tr {
    height: 65px;
    box-sizing: border-box;
    border: 1px solid #f6f6f6;
  }

  & tr:first-child {
    background-color: #183A37;
  }

  & tr:nth-child(2n) {
    background-color: #f6f6f6;
  }

  & th {
    color: #fff;
    font-style: normal;
    font-weight: 450;
    font-size: 22px;
    line-height: 25px;
  }

  & th:first-child {
    text-align: start;
    padding-left: 20px;
  }

  & td {
    color: #04151F;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
  }

  & td:first-child {
    text-align: start;
    padding-left: 20px;
  }

  & td:nth-child(2), td:nth-child(3) {
    text-align: center;
  }
}

.types-service__get-price {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #432534;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-radius: 5px;
  position: relative;
  width: 248px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  padding-left: 40px;


  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 34%;
    right: 30px;
    background-image: url("../img/get-price-icon.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
